<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="./FontAwesome files/fontawesome.css" /> 
    <script src="./FontAwesome files/fontawesome.js"></script> 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
          integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <link rel="stylesheet" th:href="{/Payment.css}"/>
    <link rel="stylesheet" href="/Payment.css">
    <title>Browse Product</title>
</head>
<body>
    <header>
        <div class="upperpart">
            <h1>
                <a th:href="@{~/home/homepage}">ThriftyTech</a>
            </h1>
            <div class="search-container">
                <input type="text" id="searchInput" placeholder="Search"/>
                <button onclick="searchFunction()">Search</button>
            </div>
          
        </div>
    </header>
    <div class="wrapper">
        <div class="checkout_wrapper">
            <div class="product_info">
                <p>
                    Make your Payment
                </p>
            </div>
            <div class="checkout_form">
                <p>Payment Section</p>
                <div class="details">
                    <div class="section">
                        <input type="text" placeholder="Card Number">
                    </div>
                    <div class="section">
                        <input type="text" placeholder="Cardholder Name">
                    </div>
                    <div class="section last_section">
                        <div class="item">
                            <input type="text" placeholder="Expiry Date">
                        </div>
                    </div>
                    <div class="btn">
                        <a href="#">Pay</a>
                    </div>
                </div>
            </div>
            <div class="checkout_form">
                <p>Customer Information</p>
                <div class="details">
                    <div class="section">
                        <input type="text" placeholder="Address">
                    </div>
                    <div class="section">
                        <input type="text" placeholder="Contact Number">
                    </div>
                   
                    <div class="btn">
                        <a href="#">Save</a>
                    </div>
                </div>
            </div>
            <div class="checkout_form">
                <p>Payment Section</p>
                <div class="details">
                    <div class="section">
                        <label for="fonepay">Fonepay</label>
                        <input type="radio" id="fonepay" name="paymentMethod" value="fonepay">
                    </div>
                    <div class="section">
                        <label for="esewa">eSewa</label>
                        <input type="radio" id="esewa" name="paymentMethod" value="esewa">
                    </div>
                    <div class="btn">
                        <a href="#">Pay</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footertitle">ThrifyTech</div>
    <footer class="footer-distributed">
        <div class="footer-right">
            <a href="" class="facebook-class">
                <i class="fa-brands fa-facebook"></i>
            </a>
            <a href="" class="twitter-class">
                <i class="fa-brands fa-twitter"></i>
            </a>
            <a href="" class="instagram-class">
                <i class="fa-brands fa-instagram"></i>
            </a>
            <a href="" class="linkedin-class">
                <i class="fa-brands fa-linkedin"></i>
            </a>
        </div>
        <div class="footer-left">
            <p class="footer-links">
                <a class="link-1" th:href="@{~/home/homepage}">Home</a>
                <a th:href="@{~/user/about}">About Us</a>
                <a th:href="@{~/user/faq}">FAQs</a>
                <a th:href="@{~/pay/payment}">Contact Us</a>
            </p>
            <p>
                ThriftyTech@gmail.com Ktm, Nepal<br/>
                85475967841, 3210154789, 0124587895
            </p>
            <p>ThrifyTech &copy; 2024</p>
        </div>
    </footer><script src="payment.js"></script>
</body>
</html>










