
.contain{
    margin-top: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container {
    display: flex;
    height: 100vh;
}

.left-block {
    flex: 1;
    background-color: #3498db; /* Set your desired color */
}

.right-form {
    flex: 1;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

form {
    max-width: 400px;
    width: 100%;
}

#form-body {
    position: absolute;
    top: 50%;
    right: 25px;
    left: 25px;
    width: 230px;
    margin: -156px auto 0 auto;
}

#welcome-lines {
    text-align: center;
    line-height: 1;
}

#welcome-line {
    color:#11b18b;
    font-weight: 600;
    font-size: 40px;
}

#welcome-line2{
    color: #11b18b;
    font-size: 18px;
    margin-top: 17px;
}

#input-area {
    margin-top: 40px;
}

.form-inp1 {
    width: 350px;
    margin-bottom: 10px;
    padding: 15px 28px;
    background: transparent;
    border: 1px solid #11b18b;
    line-height: 1;
    border-radius: 8px;
}

.form-inp1:focus {
    border: 1px solid #11b18b;
}

.form-inp1:first-child {
    margin-bottom: 15px;
}

.form-inp1 input {
    width: 190%;
    background: none;
    /*font-size: 13.4px;*/
    color:black;
    border: none;

}

.form-inp1 input:focus {
    outline: none;
}

.loginButton-cvr {
    margin-top: 30px;
}

.loginButton {
    display: block;
    width: 120%;
    color: #11b18b;
    background-color: transparent;
    font-weight: 600;
    font-size: 14px;
    margin: 0;
    padding: 14px 13px 12px 13px;
    border: 0;
    outline: 1px solid #11b18b;
    border-radius: 8px;
    line-height: 1;
    cursor: pointer;
    transition: all ease-in-out .2s;
}

.loginButton:hover {
    transition: all ease-in-out .3s;
    background-color: #11b18b;
    color: #161616;
    cursor: pointer;
}

#forgot-pass {
    text-align: center;
    margin-top: 10px;
}

#forgot-pass a {
    color: #868686;
    font-size: 12px;
    text-decoration: none;
}

#bar {
    position: absolute;
    left: 50%;
    bottom: -50px;
    width: 8px;
    height: 8px;
    margin-left: -33px;
    background-color:#11b18b;
    border-radius: 10px;
}

#bar:before,
#bar:after {
    content: "";
    position: absolute;
    width: 8px;
    height: 8px;
    background-color: #11b18b;
    border-radius: 50%;
}

#bar:before {
    right: -20px;
}

#bar:after {
    right: -38px;
}

/* Add this CSS to your existing stylesheet or create a new one */

#signup-link {
    margin-top: 10px;
    text-align: center;
    font-size: 14px;
}

.error-mag {
    color: black;
    font-size: 12px;
    background-color: #11b18b;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 7px;
    border-radius: 5px;
}

.success-mag {
    color: black;
    font-size: 12px;
    background-color: #11b18b;
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
}
.checkbox-container {
    position: relative;
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.checkbox-container input {
    margin-right: 5px;
}

#showPasswordLabel {
    margin-top: 8px;
    color: #11b18b; /* Change color as needed */
    font-size: 15px; /* Change font size as needed */
}

.password-toggle {
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: white;
}

.password-toggle:hover {
    color: #333;
}

#input-area {
    position: relative;
}

.form-inp1 {
    position: relative;
}

.password-toggle {
    right: 5px;
}
#signup-link p {
    color: #11b18b;
    margin: 0;
}

#signup-link a {
    color: #11b18b; /* You can adjust the color as needed */
    text-decoration: underline;
}

#signup-link a:hover {
    color: #333; /* Change color on hover */
}


.error-box{
    font-size: 15px;
    color: black;
    background-color:#11b18b;
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}