/* Fonts */
/*!*@import url('https://fonts.googleapis.com/css?family=Lato:400,700|Space+Mono:700');*!*/

/* Custom Cart Panel Styles */
.custom-cart-panel {
    background-color: rgba(255, 255, 255, 0.9);
    position: fixed;
    top: 0;
    right: -600px; /* Initially off-screen */
    width: 400px;
    height: 100%;
    box-shadow: -1px 0 10px rgba(0, 0, 0, 0.1);
    overflow-y: scroll;
    transition: right 0.3s ease; /* Add smooth transition effect */
    padding: 20px;
    z-index: 1000;
}

.custom-cart-panel.custom-open {
    right: 0; /* Move the panel on-screen when open */
}

.custom-center-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.menu{
    margin-top: 30px;
}

.logo{
    margin-top: 50px;
}
.custom-content {
    position: relative;
}

.custom-menu {
    position: absolute;
    top: 10px; /* Adjust the top position as needed */
    left: 10px; /* Adjust the left position as needed */
    text-decoration: none;
    color: #333;
    font-weight: bold;
}



/*.custom-logo img {*/
/*    max-width: 150px; !* Adjust the maximum width as needed *!*/
/*    height: auto;*/
/*}*/
.custom-icons i {
    margin-right: 0.5rem;
}

.custom-top-bar {
    display: flex;
    align-items: center;
    margin-top: 1rem;
    color: #333;
}

.custom-bag {
    margin-top: 1rem;
}

.custom-bag-head {
    font-size: 1.2rem;
}

.custom-bag-product {
    display: flex;
    margin-top: 1rem;
}

.custom-product-image {
    max-width: 100px;
    max-height: 100px;
    margin-right: 1rem;
}

.custom-description {
    flex-grow: 1;
}

.custom-description h1 {
    margin: 0;
}

.custom-quantity-wrapper {
    display: flex;
    align-items: center;
    margin-top: 1rem;
}

.custom-btn-remove {
    margin-left: 0.5rem;
    background-color: #ff0000;
    color: #fff;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
}

/* Add more styles for other elements as needed */
