footer{
    margin-top: 70px;
}
.foot-panel1{
    background-color: #1f6858;
    cursor: pointer;
    color: white;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.5rem;
}

.foot-panel1:hover {
    text-decoration: underline;
}

.foot-panel2{
    display: flex;
    background-color: #11b18b;
    color: white;
    height: 300px;
    justify-content: space-evenly;
}


ul{
    margin-top: 20px;
}

ul a {
    display: block;
    font-size: 0.85rem;
    margin-top: 15px;
    color: #dddddd;
}

.foot-panel3{
    background-color: #1f6858;
    border-top: 0.5px solid white;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* Add this to your CSS file or use styled-components */
.scroll-to-top-button {
    /* Your existing button styles */

    /* Add the following styles for hover effect */
    cursor: pointer;
}

.scroll-to-top-button:hover {
    /* Add styles for the hover state */
    text-decoration: underline; /* Example: Underline the text on hover */
}


.logo{
    background-image: url("../images/logo.png");
    background-size: cover;
    height:60px ;
    width: 200px;
    align-items: center;
    justify-content: center;
}


.foot-panel4{
    background-color:#11b18b ;
    color: white;
    height: 75px;
}

.pages{
    font-size: 0.9rem;
    text-align: center;
    padding-top: 10px;
}

.copyright{
    padding-top: 5px;
    font-size: 0.9rem;
    text-align: center;
}