* {
    margin: 0;
    font-family: 'Argent CF', serif;
    /*border: border-box;*/
}
.example {
    width: 100%; /* Make an element 100% of its parent container */
    font-size: 1.2em; /* Set font size relative to the default font size */
}

/* Example media query for screens with a maximum width of 768px */
@media (max-width: 768px) {
    /* Define styles for smaller screens here */
}


.loader {
    width: 55px;
    height: 55px;
    aspect-ratio: 1;
    --g1: conic-gradient(from  90deg at 3px  3px, #0000 90deg, #fff 0);
    --g2: conic-gradient(from -90deg at 22px 22px, #0000 90deg, #fff 0);
    background: var(--g1), var(--g1), var(--g1), var(--g2), var(--g2), var(--g2);
    background-size: 25px 25px;
    background-repeat: no-repeat;
    animation: l7 1.5s infinite;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@keyframes l7 {
    0%   { background-position: 0 0, 0 100%, 100% 100%; }
    25%  { background-position: 100% 0, 0 100%, 100% 100%; }
    50%  { background-position: 100% 0, 0 0, 100% 100%; }
    75%  { background-position: 100% 0, 0 0, 0 100%; }
    100% { background-position: 100% 100%, 0 0, 0 100%; }
}


.span{
    font-size:0.7rem ;
}

.nav-second{
    font-size: 0.85rem;
    font-weight: 700;
}


.nav-cart i{
    font-size: 30px;
}

.nav-cart{
    font-size: 0.85rem;
    font-weight: 700;
}

.panel{
    height: 40px;
    background-color: #1f6858;
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-evenly;
}
.panel-ops p{
    display: inline;
    margin-left: 15px;
}

.panel-ops{
    width: 70%;
    font-size: 0.85rem;

}
.panel-deals{
    font-size: 0.9rem;
    font-weight: 700;
}

.slider-container22 {
    background-color: white;
    background-size: contain;
    height: 400px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin: 30px 25px 60px;
    /*display: flex;*/
}

/* Style for each slide item */
.alice-carousel__stage-item {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: center;
}

/* Style for the images in each slide */
.alice-carousel__stage-item img {
    max-width: 100%; /* Adjust the width as needed */
    max-height: 100%; /* Adjust the height as needed */
    border-radius: 10px; /* Add border-radius if needed */
}

.hero-message{
    margin-top: 30px;
    background-color: white;
    color: black;
    height: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.85rem;
    width: 100%;

}
.hero-message p{
    align-items: center;
    justify-content: center;
    margin-bottom: 60px;
}

.hero-message a{
    color: #007185;
}

/**Box section **/

.shop-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #e2e7e6;
}
.box{
    cursor: pointer;
    height: 300px;
    width: 23%;
    background-color: white;
    padding: 20px 0px 15px;
    margin-top: 10px;
    align-items: center;
    border-radius: 10px;   box-shadow: 30px 30px 80px #ede8e841, inset -30px -30px 80px white;
}

.box-image{
    height: 170px;
    width: 138px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: auto;
    margin-right: auto;
    background-size: cover;

}
.love-button {
    background-color: white; /* Background color for the circle */
    color: #007185; /* Color of the heart icon */
    width: 40px; /* Adjust the size as needed */
    height: 40px;
    border: none;
    border-radius: 50%; /* Makes it a circle */
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute; /* Position absolutely within the container */
    top: 1px; /* Adjust the top position as needed */
    right: 10px; /* Adjust the right position as needed */
}

.love-button:hover {
    background-color: #e2e7e6; /* Change color on hover */
}

.box-content {

    justify-content: space-between;
    align-items: center;
    position: relative; /* Add relative positioning to the container */
}

.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: white;
    color: #007185;
    text-decoration: none;
    border: none;
    border-radius: 5px;

}

.button:hover {
    background-color: white;
}

.box-content p {
    color:#007185 ;
}

.box-image1{
    height: 175px;
    width: 145px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: auto;
    margin-right: auto;
    background-size: cover;
}

.box-content h2{
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box-image2{
    height: 170px;
    width: 148px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: auto;
    margin-right: auto;
    background-size: cover;
}
.box-image3{
    height: 190px;
    width: 135px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: auto;
    margin-right: auto;
    background-size: cover;
}

.box-image4{
    height: 173px;
    width: 139px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: auto;
    margin-right: auto;
    background-size: cover;
}

.box-image5{
    height: 165px;
    width: 139px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: auto;
    margin-right: auto;
    background-size: cover;
}

.box-image6{
    height: 170px;
    width: 133px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: auto;
    margin-right: auto;
    background-size: cover;
}

.box-image7{
    height: 165px;
    width: 137px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: auto;
    margin-right: auto;
    background-size: cover;
}
.shop-section2{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #e2e7e6;
}
.box-container {
    display: flex;
    justify-content: space-evenly; /* Adjust as needed */
}

.boxP {
    background-image: url("../images/tab.png");
    background-size: cover;
    background-repeat: no-repeat;
    width: 695px;
    height: 275px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-top: 20px;
    margin-right: 30px;
    border-radius: 10px;
    /*box-shadow: 30px 30px 80px #a29d9d41, inset -30px -30px 80px ;*/
}

.boxL {
    background-image: url("../images/pk.png");
    background-size: cover;
    background-repeat: no-repeat;
    width: 695px;
    height: 275px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-top: 20px;
    border-radius: 10px;
    /*box-shadow: 30px 30px 80px #a29d9d41, inset -30px -30px 80px ;*/
}
.shop-section3{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #e2e7e6;
}


.box-container1 {
    display: flex;
    justify-content: space-evenly; /* Adjust as needed */
}

.boxW {
    background-image: url("../images/let.png");
    background-size: cover;
    background-repeat: no-repeat;
    width: 695px;
    height: 275px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-top: 20px;
    margin-right: 30px;
    border-radius: 10px;
    /*box-shadow: 30px 30px 80px #a29d9d41, inset -30px -30px 80px ;*/
}

.boxT {
    background-image: url("../images/mob.png");
    background-size: cover;
    background-repeat: no-repeat;
    width: 695px;
    height: 275px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    /*box-shadow: 30px 30px 80px #a29d9d41, inset -30px -30px 80px ;*/
    margin-top: 20px;
    border-radius: 10px;
}


