/* ProductBox.css */

.box1 {
    /* Your original styles for .box1 if any */
}

.product-box-content {
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 1rem; /* Add padding for better spacing */
}

.love-button {
    position: absolute;
    top: -30px; /* Adjusted to move the button up by 15px, considering the 20px top padding */
    right: 10px; /* Adjust this value as needed to position the button horizontally within the container */
    background-color: white; /* Background color for the circle */
    color: #007185; /* Color of the heart icon */
    width: 40px; /* Adjust the size as needed */
    height: 40px;
    border: none;
    border-radius: 50%; /* Makes it a circle */
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0; /* Initially hidden */
    transition: opacity 0.3s; /* Add a transition for a smooth fade-in effect */
}

/* Style for box hover effect */
.box:hover .love-button {
    opacity: 1; /* Show the love button when hovering over the box */
}

.product-box-content p {
    color: #007185;
}

.product-box-image {
    height: 175px;
    width: 145px;
    margin: 1rem auto;
    background-size: cover;
}

.product-box-content h2 {
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
}
