.panel{

    border: none;
    height: 40px;
    background-color: #1f6858;
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-evenly;
}
.panel-ops p{
    font-size: 12px;
    display: inline;
    margin-left: 15px;
    border: none;
}

.panel-ops{
    width: 70%;
    font-size: 0.5rem;

}
.panel-deals{
    font-size: 0.7rem;
    font-weight: 500;
}

.border :hover{
    border: none;
}