

.panel{
    border: none;
    height: 40px;
    background-color: #1f6858;
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-evenly;
}
.panel-ops p{
    display: inline;
    margin-left: 15px;
    border: none;
}

.panel-ops{
    width: 70%;
    font-size: 0.85rem;

}
.panel-deals{
    font-size: 0.9rem;
    font-weight: 700;
}

.shop-section55{
    display: flex;
    justify-content: space-between;
    background-color: white;
}
.col {
    flex: 0 0 calc(25% - 15px); /* Adjust width and margin as needed */
    margin-bottom: 15px;
}

/* Add media query for responsiveness if needed */
@media (max-width: 768px) {
    .col {
        flex: 0 0 calc(50% - 15px);
    }
}




